<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body id="holiday">
    <main>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
        voluptas molestias, magnam sed architecto enim optio, velit repellat
        temporibus possimus nesciunt nulla nobis nam, aperiam eaque sapiente
        molestiae omnis ipsa.
      </p>
    </main>
  </body>
</html>
