<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body id="signinsignup">
    <header>
      <h1>Hobby Home</h1>
    </header>
    <nav>
      <a href="http://localhost:3000/">HOME</a>
      <a href="http://localhost:3000/viewposts">POSTS</a>
    </nav>
    <main>
      <br />
      <p>Welcome</p>
      <br />

      <p>Sign In Here</p>
      <form action="/signin" method="GET">
        <input type="text" name="user" placeholder="Enter User Name" required />
        <br />
        <input type="password" placeholder="Enter Password" required />
        <br />
        <button type="submit">Submit</button>
        <% if (typeof message !== 'undefined') { %>
        <p style="color: <%= error ? 'red' : 'green' %>;"><%= message %></p>
        <% } %>
      </form>
      <br />
      <p>Sign Up Here</p>
      <form action="/register" method="post">
        <input type="text" name="user" placeholder="Enter User Name" required />
        <br />
        <input type="password" placeholder="Enter Password" required />
        <br />
        <input type="number" min="13" placeholder="Enter your age" required />
        <br />
        <input type="text" name="color" placeholder="Favorite Color" />
        <br />
        <input type="text" name="food" placeholder="Favorite Food" />
        <br />
        <input type="text" name="hobby" placeholder="Favorite Hobby" />
        <br />
        <input type="text" name="movie" placeholder="Favorite Movie" />
        <br />
        <input type="text" name="music" placeholder="Favorite Music" />
        <br />
        <button type="submit">Submit</button>
        <% if (typeof message !== 'undefined') { %>
        <p style="color: <%= error ? 'red' : 'green' %>;"><%= message %></p>
        <% } %>
      </form>
    </main>
  </body>
</html>
